/*##########################
        NS.com
##########################*/
/*##########################
        CSS RESET
##########################*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*##########################
        CSS RESET (end)
##########################*/
/*#########################
        FONT FAMILIES
##########################*/
@font-face {
    font-family: Lato_Reg; src: url(/fonts/Lato-Reg.otf);
}
/*#########################
        CSS KEYFRAMES
###########################*/
/*#############################################################################
###############################################################################
                Mobile/Small Screen Style
###############################################################################
#############################################################################*/
@media screen and (min-width: 300px) {
   
   body {
        background: #c44500;
        background-size: 100%;
        font-family: Lato_Reg;
        transition: 1s;
    }
    ul {
        margin-top: 1em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    nav a {
        display: block;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        float: left;
        width: 20%;
        padding: 2em 2.5%;
        font-size: .75em;
    }
    header {
        text-align: center;
    }
    h1  {
        clear: left;
        font-size: 3em;
        padding-top: .25em;
        color: #fff;
    }
    h1 a {
        text-decoration: none;
        color: #fff;
    }
    img {
        width: 25%;
    }
    section {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: -5em;
    }
    p {  
        color: #fff;
        padding: 0 2.2%;
    }
}

/*#############################################################################
###############################################################################
                SMALL DESKTOP/LAPTOP 
###############################################################################
#############################################################################*/
@media screen and (min-width: 600px) {
    #imagebackground {
        width: 100%;
        position: absolute;
        background: url(/images/miyajima100.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
        opacity: 0.15;
        filter: alpha(opacity=15);
        z-index: -1;
    }
    nav a {
        padding: 1.4em 2.5%;
        font-size: 1em;
        line-height: 1em; 
        transition: font-size .25s ease-in, background-color 1s;
    }
    nav a:hover {
        background-color: #c44500;
        color: #fff;
        font-size: 1.5em;
        padding: .77em 2.5%;
    }
    header {
        width: 30%;
        padding-top: 6em;
        padding-left: 3em;
    }
    section {
        bottom: -3em;
    }
}
/*#############################################################################
###############################################################################
                AVERAGE DESKTOP/LAPTOP 
###############################################################################
#############################################################################*/
@media screen and (min-width: 800px) {

}




