/*##########################
        NS.com
##########################*/
/*##########################
        CSS RESET
##########################*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, rem, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1rem 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
html {
    font-size: 14px;
}
/*##########################
        CSS RESET (end)
##########################*/
/*##############BORDER BOX##############*/
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
/*#########################
        FONT FAMILIES
##########################*/
@font-face {
    font-family: Lato-Reg; src: url(/fonts/Lato-Reg.otf);
}
@font-face {
    font-family: JosefinSans-Thin; src: url(/fonts/JosefinSans-Thin.ttf);
}
@font-face {
    font-family: JosefinSans-Light; src: url(/fonts/JosefinSans-Light.ttf);
}
/*###########################
        CSS KEYFRAMES
###########################*/
/*#############################################################################
###############################################################################
                Mobile/Small Screen Style
###############################################################################
#############################################################################*/
@media screen and (min-width: 300px) {

   body {
        position: absolute;
        /*background: #c44500;*/
        font-family: JosefinSans-Thin;
        transition: .5s;
    }
    section {
        padding: 7rem 0;
    }
    p {
        line-height: 1.25rem;
        letter-spacing: .05rem;
    }
/*===================LANDING PAGE STYLES=====================*/
    #landingpagelayer {
        background: rgb(0, 3, 163)
    }
    nav {
        position: fixed;
        left: 0;
        right: 0;
        margin-top: .25rem;
        z-index: 100;
        text-align: center;
        text-decoration: none;
        background-color: rgba(255, 255, 255, .90);
        font-family: JosefinSans-Light;
        text-transform: uppercase;
        font-weight: bold;
        transition: font-size .25s ease-in, background-color .5s;
    }
    nav a {
        display: inline;
        float: left;
        padding: 2rem 0;
        width: 25%;
        color: #000;
        font-size: .75rem;
        line-height: 1.5rem;
    }
    header {
        margin-top: 6.15rem;
        padding: 3rem 0;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        color: #fff;
    }
    h1 a {
        color: #fff;
    }
    #logo {
        width: 5rem;
    }
    #landingpage p {
        color: #fff;
        text-align: center;
        margin-top: 2rem;
        padding: 0 2rem;
        padding-bottom: 7rem;        
    }

/*================== PORTFOLIO STYLING ====================*/
    #portfolio {
        color: #fff;
        background: #000;
        width: 100%;
        text-align: center;
    }
    #portfolio h1 {
        padding:0 5rem;
        line-height: 4rem;
    }
    #portfolio img {
        position: relative;
        width: 60%;
        border-radius: 50%;
        border: solid #fff 2px;
        margin-top: 3rem;
        z-index: 99;
    }
    #portfolio p {
        padding: 0 2rem;
    }
   
/*================== ABOUT STYLING ====================*/
    #selfie {
        border-radius: 50%;
        width: 7rem;
        margin-bottom: 2rem; 
    }
    #aboutme {
        clear: both;
        background: rgb(57, 34, 0);
        text-align: center;
        width: 100%;
        color: #fff;
    }
    #aboutme p {
        text-align: justify;
        padding: 0 2rem;
    }

/*=================CONTACT FORM STYING===================*/
    #contactform {
        text-align: center;
        background: #00c498;
        width: 100%;
    }
    #contactform h1 {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 3rem;
    }
    input {
        font-size: 1rem;
        padding: 1rem .25rem;
        text-align: left;
        width: 90%;
        max-width: 800px;
        margin: .5rem 0;
        font-family: JosefinSans-Light;
        border: none;
        border-radius: 2px;
    }
    textarea {
        height: 15rem;
        font-size: 1rem;
        padding: 1rem .25rem;
        text-align: left;
        width: 90%;
        max-width: 800px;
        margin: .5rem 0;
        font-family: JosefinSans-Light;
        border: none;
        border-radius: 2px;
    }
    #sbutton {
        text-align: center;
        background-color: #E8ED55;
        color: #000;
    }
    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }
/*#############################################################################
###############################################################################
                SMALL DESKTOP/LAPTOP 
###############################################################################
#############################################################################*/
@media screen and (min-width: 600px) {
  
    /*#imagebackground {
        position: absolute;
        background: url(/images/miyajima.png);
        background-size: 100%;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        min-width: 800px;
        opacity: .15;
        z-index: 1;
        overflow: none;
    } */
    #landingpage {
        background: url(/images/miyajima.png);
        background-size: 100%;
        width: 100%;
    } 
    #landingpagelayer {
        background: rgba(0, 3, 163, .75);
    }
    #aboutme {
        position: relative;
        background: url(/images/fambot.png);
        background-size: 60%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right;
        z-index: -1;
    }
    #aboutmelayer {
        background: rgba(57, 34, 0, .75)
    }
    nav a {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    nav a:hover {
        font-size: 1.5rem;
    }
    header {
        width: 40%;
        margin-left: 5rem;
    }
    #landingpage p {
        margin-left: 5rem;
        margin-right: 5rem;
        padding-bottom: 4rem;
    }
/*================== PORTFOLIO STYLING ====================*/
    .black {
        position: relative;
        background: url(/images/develop.png);
        background-size: 100%;
        width: 100%;
        overflow: scroll;
        background-repeat: no-repeat;
        z-index: 0;
    }
    #portfoliolayer {
        position: relative;
        background-color: rgba(0, 0, 0, .75);
        padding: 0;
        margin: 0;
        z-index: 10;
    }
    #portfolio h1 {
        line-height: 4rem;
        padding-top: 4rem;
        padding-bottom: 3rem;

    }
    #foliocontent1 {
        float: left;
        width: 50%;
        padding-bottom: 11rem;
        background-color: rgba(0, 0, 0, .75);
    }
    #foliocontent2 {
        float:right;
        width: 50%;
        padding-bottom: 11rem;
        background-color: rgba(0, 0, 0, .75);
    }
/*================== ABOUT STYLING ====================*/
    #aecontent {
        width: 60%;
        padding-bottom: 15rem;
    }
    #selfie {
        position: relative;
        width: 8rem;
        margin-top: 17rem;
        z-index: 99
    }
    #aboutme {
        clear: both;
        margin: -14rem 0;
    }
    #aboutme h1 {
        font-size: 4rem;
    }
    #aboutme p {
        padding: .5rem 3rem;
    }
    #contactform {
        padding-top: 11rem;
    }
}
/*#############################################################################
###############################################################################
                AVERAGE DESKTOP/LAPTOP 
###############################################################################
#############################################################################*/
@media screen and (min-width: 800px) {
    nav {
        margin-top: .30rem;
    }
    nav a {
        padding: 3rem;
    }
    header {
        margin-top: 8.12rem;
        margin-left: 7rem;
        padding-top: 9rem;
    }
    section {
        padding-bottom: 9rem;
    }
    #landingpage p {
        font-size: 1.25rem;
        padding: 1rem 5rem;
        line-height: 1.6rem;
        padding-bottom: 9rem;
    }
    h1 {
        font-size: 5rem;
    }
    #portfolio h1 {
        padding-top: 10rem;
    }
    #portfolio img {
        width: 18rem;
    }
    #aboutme {
        margin-top: -16rem;
    }
    #selfie{
        width: 10rem;
    } 
}
/*#############################################################################
###############################################################################
                BIG SCREEN DESKTOP/LAPTOP 
###############################################################################
#############################################################################*/
@media screen and (min-width: 1200px) {
    nav a {
        font-size: 1.25rem;
    }
    header {
        margin-top: 8.12rem;
    }
    h1 {
        font-size: 5rem;
    }
    section {
        width: 80%;
        margin: auto;
        font-size: 1.25rem;
    }  
    #landingpage p {
        padding-top: 5rem;
        padding-bottom: 9rem;
        line-height: 1.7rem;
    }
    #portfolio h1, #contactform h1 {
        padding-top: 4rem;
    }
    #foliocontent2, #foliocontent1 {
        padding-bottom: 13rem;
    }
    #selfie {
        width: 11rem;
        margin-top: 20rem;
    }
    #aboutme h1 {
        font-size: 5rem;
    }
    #aboutme p {
        padding: .5rem 5rem;
    }
    
/*#############################################################################
###############################################################################
                RIDICULOUS SCREEN DESKTOP/RETINA LAPTOP 
###############################################################################
#############################################################################*/
@media screen and (min-width: 1440px) {
    h1 {
        font-size: 7rem;
    }
    #landingpage p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        padding-top: 10rem;
        padding-bottom: 13rem;
    }
    #portfolio h1 {
        font-size: 5rem;
        padding-top: 9rem;
    }
    #portfolio {
        padding-bottom: 9rem;
    }
    #selfie {
        width: 13rem;
        margin-top: 20rem;
    }
    #aboutme h1 {
        font-size: 6rem;
    }
    #aboutme {
        padding-bottom: 11rem;
    }
    #contactform h1 {
        font-size: 3rem;
    }
    #contactform {
        padding-bottom: 14rem;
    }
    input, textarea {
        font-size: 1.5rem;
    }
}

